@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
}

body {
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("/static/images/bg/office_bg.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

h1 {
  margin-top: 30px;
  font-size: 70px;
  color: #772e3f;
  margin-bottom: 20px;
  text-align: center;
}

.container {
  animation: fadeIn 1s ease-in-out;
}

.form-container,
.login-container {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  text-align: center;
}

.form-container {
  max-width: 5000px;
  height: 380px;
  margin-top: 40px;
}

.login-container {
  max-width: 400px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #621c1c;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  overflow: hidden;
}

.logo,
.partner-logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.partner-logo img {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 250px;
  height: auto;
  margin-top: 100px;
  margin-right: 450px;
}

.partner-logos {
  background-color: #ffffff3c;
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 80%;
  padding: 0 10px;
  position: relative;
  gap: 10px;
  scrollbar-width: none;
  margin-right: 30px;
}

.partner-logos img {
  height: 40px;
  width: auto;
  transition: transform 0.2s ease;
  flex-shrink: 0;
}

.partner-logos img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.partner-logos-inner {
  display: inline-flex;
  animation: scroll-logos 20s linear infinite;
  display: flex;
  gap: 20px;
}

.partner-logos-inner img {
  height: 60px;
  width: auto;
  border-radius: 5px;
  margin: 0 10px;
  transition: transform 0.2s ease;
}

.partner-logos-inner img:hover {
  transform: scale(1.1);
}

@keyframes scroll-logos {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.input-group {
  width: 100%;
  max-width: 500px;
  margin-bottom: 15px;
}

.input-group input {
  max-width: 500px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 15px;
}

.input-group input:focus {
  border-color: #772e3f;
  box-shadow: 0 0 8px rgba(119, 46, 63, 0.5);
}

.login-button {
  display: block;
  width: 15%;
  max-width: 200px;
  margin: 0 auto;
  padding: 12px 25px;
  background-color: #772e3f;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  text-align: center;
}

.login-button:hover {
  background-color: #5f1f2f;
  transform: translateY(-5px);
}