@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("/static/images/bg/grass_bg.jpg");
  background-size: cover; /* Ensures the image fully covers the container */
  background-position: center;
  background-repeat: no-repeat;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden; /* Prevent any scrolling on the body */
}

h1,
h2,
h3,
.clock p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.container {
  margin-right: 15%;
  width: 86%;
  height: 100vh; /* Make the container fit the screen height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjust the spacing between items */
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #621c1c; /* Background color */
  height: 8vh; /* Adjust height as needed */
  padding: 0 20px; /* Add spacing inside the header */
  position: relative; /* Ensures the header stays at the top layer */
  width: 100%; /* Full width */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  /* SF GROUP LOGO */
  width: 475px; /* Change this to your desired size */
  height: auto; /* Maintains aspect ratio */
  margin-top: 125px;
  margin-right: 10px;
}

#partnerLogo {
  /* Company Logos */
  background-color: white;
  padding: 10px; /* Adds space around the logo */
  border-radius: 10px; /* Optional rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: auto;
  max-width: 250px; /* Change this to your desired size */
  max-height: 250px; /* Maintains aspect ratio */
  margin-top: 6%;
  margin-right: 8%;
}

.logo img:hover,
#partnerLogo :hover {
  transform: scale(1.05); /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.clock {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  flex-grow: 1;
  justify-content: flex-start; /* Aligns items (including the camera) to the left */
}

.clock-content {
  flex: 1; /* Allow clock-content to take available space */
}

.clock h1 {
  /* Real clock time styling */
  font-size: 130px;
  color: #621c1c;
  margin-top: 80px;
  margin-bottom: 0; /* Remove bottom margin to align neatly */
}

.clock p {
  font-size: 40px;
  color: #be6364;
  white-space: nowrap; /* Prevent line breaks */
  margin-left: 55px;
}

.clock p span {
  margin-right: 185px; /* Adjust spacing between date and day */
}

.clock,
.attendance-list,
.camera {
  transition: transform 0.2s ease-in-out;
}

.camera {
  position: absolute; /* Absolute positioning */
  width: 25%; /* Adjust width for smaller screens */
  flex: 0 0 auto;
  height: 350px;
  border: 2px solid #621c1c;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 35px;
  left: 860px; /* Default position for large screens */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Move camera left as screen size decreases */
@media screen and (max-width: 1400px) {
  .camera {
    left: 800px; /* Slightly left for medium screens */
  }
}

@media screen and (max-width: 1200px) {
  .camera {
    left: 650px; /* Move more left for smaller screens */
  }
}

@media screen and (max-width: 992px) {
  .camera {
    left: 450px; /* Further left for tablet screens */
  }
}

@media screen and (max-width: 768px) {
  .camera {
    left: 250px; /* Almost to the edge on small devices */
  }
}

@media screen and (max-width: 576px) {
  .camera {
    left: 60px; /* Close to the left on very small screens */
  }
}

.camera video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  /* TIME IN TIME OUT BUTTON */
  padding: 10px 32px;
  font-size: 25px;
  background: #621c1c;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 50px;
  margin-left: 115px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional shadow */
}

.btn:focus {
  background: #be6364;
  transform: scale(1.05); /* Button enlarges slightly */
}

.btn:hover {
  background-color: #be6364; /* Add color change on hover */
  transform: scale(1.1); /* Enlarge button slightly */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.attendance-list {
  width: 90%; /* Adjust width for smaller screens */
  flex: 0 0 auto;
  margin: 20px auto;
  background: #621c1c;
  border-radius: 10px;
  padding: 30px;
  top: -30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  position: relative;
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attendance-list h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
  margin-top: -25px;
}

#attendance-items {
  list-style: none;
  padding: 0;
}

#attendance-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  height: 100%;
}

#attendance-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #621c1c;
}

#attendance-table thead th {
  background-color: #621c1c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 15px;
  text-align: left;
}

#attendance-table tbody {
  display: block;
  overflow-y: auto;
  /* height: calc(100vh - 550px); Adjust this value to fit perfectly */
  height: 100%;
}

#attendance-table thead tr,
#attendance-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#attendance-table tbody td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;
}

#attendance-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

#attendance-table tbody tr:hover {
  background-color: #f5f5f5;
}

.content {
  display: flex;
  margin-top: 20px;
}

.panel {
  /*CONTENTS INSIDE THE SIDE PANEL*/
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px; /* Adjust font-size as needed */
  color: #e2e2e2;
  margin-bottom: 10px; /* Adjust space between panels */
  border-radius: 10px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  background-color: #621c1c; /* Fallback for older browsers */
  padding: 15px;
}

.panel:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Hover effect */
  transform: translateY(-5px); /* Slight lift on hover */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.birthdays .panel h3,
.milestones .panel h3,
.announcements .panel h3 {
  font-size: 15px;
  margin-top: -10px; /* Move Birthdays and Milestones header slightly up */
}

/* Note styles for Birthdays, Milestones, and Announcements */
.birthdays .note,
.milestones .note,
.announcements .note {
  background: #e2e2e2;
  width: 100%;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Make sure birthdays and milestones use the same table style */
.announcements-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

/* Updated cell styling applies to all tables using this class */
.announcements-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  word-wrap: break-word;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
}

/* Zebra striping for rows */
.announcements-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.announcements-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for table rows */
.announcements-table tbody tr:hover {
  background-color: #e0e0e0;
}

.announcements {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Container styles for Announcements */
.announcements .note {
  background: #e2e2e2;
  width: 100%; /* Prevents content from overlapping on the right side */
  height: 30vh;
  max-width: 500px;
  bottom: -13px;
  max-height: 500px;
  margin: 5px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow-y: auto; /* Vertical scrollbar appears when needed */
  overflow-x: hidden;
}

/* Table styles for announcements */
.announcements-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensures content wraps properly */
}

/* Updated cell styling for larger, bold, and modern font */
.announcements-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  word-wrap: break-word;
  color: black;               /* Black font on white background */
  font-size: 15px;            /* Increased font size */
  font-weight: bold;          /* Bold text */
  font-family: 'Arial', sans-serif;
}

/* Zebra striping for rows */
.announcements-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.announcements-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for table rows */
.announcements-table tbody tr:hover {
  background-color: #e0e0e0;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 15%;
  background-image: url("/static/images/red1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

/* Birthdays container */
.birthdays,
.milestones,
.announcements {
  flex: 1; /* Makes them shrink evenly */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.birthdays .panel,
.milestones .panel {
  width: 100%;
  height: 175px; /* You can specify a fixed height here for Birthdays & Milestones */
}

.birthdays .note {
  background: #e2e2e2;
  width: 100%;
  height: 30vh;
  max-width: 500px;
  bottom: -13px;
  max-height: 175px; /* Match the panel height you defined */
  margin: 5px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Container styles for Milestones */
.milestones .note {
  background: #e2e2e2;
  width: 100%;
  height: 30vh;
  max-width: 500px;
  bottom: -13px;
  max-height: 175px; /* Match the panel height you defined */
  margin: 5px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.sign-out-btn {
  color: rgb(255, 255, 255);
  text-decoration: underline; /* Underlined text */
  background: none; /* Transparent background */
  border: none; /* No border */
  font-size: 15px; /* Font size for visibility */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: auto;
  margin-left: 45px;
  margin-bottom: 20px;
}

.sign-out-btn:hover {
  color: red; /* Darker red for hover effect */
}

/* Common modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
  border-radius: 8px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: #621c1c;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#newPinForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#newPinForm input {
  padding: 8px;
  font-size: 16px;
}

#newPinForm button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#newPinForm button:hover {
  background-color: #45a049;
}
