@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: linear-gradient(
      rgba(200, 200, 200, 0.2),
      rgba(200, 200, 200, 0.2)
    ),
    url("/static/images/bg/agritech_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html,
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

h1,
h2,
h3,
.clock p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.container {
  margin-right: 15%;
  width: 86%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #621c1c;
  height: 8vh;
  padding: 0 20px;
  position: relative;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 400px;
  height: auto;
  margin-top: 125px;
  margin-right: 10px;
}

#partnerLogo {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  margin-top: 6%;
  margin-right: 8%;
}

.logo img:hover,
#partnerLogo :hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.clock {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  flex-grow: 1;
  justify-content: flex-start;
}

.clock-content {
  flex: 1;
}

.clock h1 {
  font-size: 105px;
  color: #621c1c;
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: 100px;
}

.clock p {
  font-size: 40px;
  color: #be6364;
  white-space: nowrap;
  margin-left: 100px;
}

.clock p span {
  margin-right: 185px;
}

.clock,
.attendance-list,
.camera {
  transition: transform 0.2s ease-in-out;
}

.camera {
  position: absolute;
  width: 25%;
  flex: 0 0 auto;
  height: 300px;
  border: 2px solid #621c1c;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 35px;
  left: 860px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1400px) {
  .camera {
    left: 800px;
  }
}

@media screen and (max-width: 1200px) {
  .camera {
    left: 650px;
  }
}

@media screen and (max-width: 992px) {
  .camera {
    left: 450px;
  }
}

@media screen and (max-width: 768px) {
  .camera {
    left: 250px;
  }
}

@media screen and (max-width: 576px) {
  .camera {
    left: 60px;
  }
}

.camera video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  padding: 10px 32px;
  font-size: 25px;
  background: #621c1c;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin: 40px;
  margin-left: 115px;
  transition: background 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn:focus {
  background: #be6364;
  transform: scale(1.05);
}

.btn:hover {
  background-color: #be6364;
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.attendance-list {
  width: 90%;
  margin: 20px auto;
  background: #621c1c;
  border-radius: 10px;
  padding: 25px;
  padding-top: 15px;
  top: -30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  position: relative;
  height: calc(93vh - 400px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.attendance-list h2 {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: center;
  margin-top: -25px;
}

#attendance-items {
  list-style: none;
  padding: 0;
}

#attendance-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  height: 100%;
}

#attendance-table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #621c1c;
}

#attendance-table thead th {
  background-color: #621c1c;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 15px;
  text-align: left;
}

#attendance-table tbody {
  display: block;
  overflow-y: auto;
  height: 100%;
}

#attendance-table thead tr,
#attendance-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

#attendance-table tbody td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: 14px;
}

#attendance-table tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

#attendance-table tbody tr:hover {
  background-color: #f5f5f5;
}

.content {
  display: flex;
  margin-top: 20px;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #e2e2e2;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #621c1c;
  padding: 15px;
}

.panel:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.birthdays .panel h3,
.milestones .panel h3,
.announcements .panel h3 {
  font-size: 15px;
  margin-top: -10px;
}

.note {
  background: #f9f9f9;
  width: 100%;
  max-width: 500px;
  margin: 5px;
  position: relative;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: hidden;
}

.birthdays .note,
.milestones .note {
  height: 20vh;
  max-height: 275px;
  bottom: -13px;
  justify-content: center;
}

.announcements .note {
  height: 30vh;
  max-height: 500px;
  bottom: -13px;
  justify-content: center;
  color: #000;
}

.announcements-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.announcements-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.announcements-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.announcements-table tbody tr:hover {
  background-color: #e0e0e0;
}

.announcements {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.announcements-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.announcements-table td {
  padding: 0.75rem;
  text-align: center;
  word-wrap: break-word;
  color: black;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
}

.announcements-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.announcements-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.announcements-table tbody tr:hover {
  background-color: #e0e0e0;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  width: 15%;
  background-image: url("/static/images/red1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.birthdays,
.milestones,
.announcements {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.birthdays .panel,
.milestones .panel {
  width: 100%;
  height: 175px;
}

.sign-out-btn {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  margin-top: auto;
  margin-left: 45px;
  margin-bottom: 20px;
}

.sign-out-btn:hover {
  color: red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 8px;
}

.modal-content input {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

.modal-content button {
  width: 100%;
  padding: 10px;
  background-color: #621c1c;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#newPinForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#newPinForm input {
  padding: 8px;
  font-size: 16px;
}

#newPinForm button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#newPinForm button:hover {
  background-color: #45a049;
}